@media (min-width: 1700px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1650px;
    }
}
@media (max-width:1900px) {
    html {
        font-size: 95%;
    }
}
@media (max-width:1800px) {
    html {
        font-size: 80%;
    }
}
@media (max-width:1500px) {
    html {
        font-size: 70%;
    }
}