/* IMPORT CSS
------------------------------------------------------------------------------*/
@import url(reset.css);
@import url(typography.css);

/* ROOT VAR
------------------------------------------------------------------------------*/
:root {
  --primary-color: #d7060a;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --gray200: #EEEEEE;
  --gray250: #DDDDDD;
  --gray300: #CCCCCC;
  --gray350: #BBBBBB;
  --border-radius-md: .625rem;
  --border-radius-lg: 1.25rem;
  --border-radius-xl: 2.25rem;
}
.section-wrapper {
  padding: 16px 0;
  position: relative;
  overflow: hidden;
}
.section-wrapper::after {
  content: attr(data-bg-text);
  color: #fff;
  position: absolute;
  font-size: 29vw;
  letter-spacing: 1vw;
  bottom: -6vw;
  left: 50%;
  transform: translateX(-50%);
}
.bg-gray-grdient {
  background: linear-gradient(#eaeaea, #f8f8f8);
}
.bg-gray {
  background: #f2f2f2;
}
.flipX {
  transform: rotate(180deg);
}
.w-80 {
  width: 80%
}
.flex-auto {
  flex: auto;
}
.hover-underline-animation {
  position: relative;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-color);
  transition: transform 0.25s ease-out;
  transform-origin: left;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
/* BOOTSTRAP
------------------------------------------------------------------------------*/
.text-primary {
  color: var(--primary-color) !important;
}
.btn-primary {
  position: relative;
  background: #d70000;
  box-shadow: 0px 1px 4px -2px #333;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-md);
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  text-shadow: 0px -1px #333;
  text-transform: uppercase;
}
.btn-primary:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: 50%;
  border-radius: 5px 5px 0 0;
  background-color: rgba(255,255,255,0.4);
  transition: 0.3s;
}
.btn-primary:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: 50%;
  border-radius: 0 0 5px 5px;
  background-color: rgba(255,255,255,0.4);
  opacity: 0;
  transition: 0.3s;
}
.btn-primary:hover{
  background: #d70000;
  border-color: transparent;
}
.btn-primary:hover::before{
  opacity: 0;
}
.btn-primary:hover::after{
  opacity: 1;
}
.btn-icon img {
  max-width: 1.875rem;
  min-width: 1.875rem;
}
.btn-icon img:nth-child(1){
  margin-right: 1.5rem;
}
.btn-icon img:nth-child(2){
  margin-left: 1.5rem;
  mix-blend-mode: luminosity;
}
/* OWL CAROUSAL
------------------------------------------------------------------------------*/
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.owl-carousel .owl-nav .owl-prev {
  right: 2.25rem;
}
.owl-carousel .owl-nav .owl-next {
  left: -3.4375rem;
}
.owl-carousel .owl-nav .owl-prev img,
.owl-carousel .owl-nav .owl-next img {
  width: 2.75rem;
}
.owl-carousel .owl-nav .owl-next img {
  transform: rotate(180deg);
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 1rem;
  height: 1rem;
  margin: .3125rem .625rem 0;
  background: var(--white-color);
  border: 1px solid var(--primary-color);
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: var(--border-radius-xl);
}
.owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
}
/* HEADING
------------------------------------------------------------------------------*/
.heading {
  margin-bottom: 1.5625rem;
  display: inline;
}
.heading-slabSerif {
  font-family: "AcklinCondensed", sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
.heading-slabSerif span {
  color: var(--primary-color);
}
.heading-slabSerif span > span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color);
}
.heading-sansSerif {
  font-family: "Arial Rounded MT", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0;
  text-shadow: .125rem .1875rem .3125rem rgba(0, 0, 0, 0.5);
  position: relative;
    z-index: 1;
}
.heading-sansSerif span {
  color: var(--black-color);
}
.heading-sansSerif span > span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color);
  text-shadow: none;
}
.theme-stroke-heading span{
  display: inline-block;
  opacity: 1;
}
.black-red-text span {
  color: var(--primary-color);
}
.heading-arial {
  color: var(--white-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black-color);
  text-shadow: none;
}
.heading-arial span {
  color: var(--primary-color);
}
.heading-hand-icon img {
  max-width: 2.9375rem;
  margin-top: .3125rem;
  vertical-align: sub;
}
/* main-header */
.main-header {
  position: relative;
  z-index: 9999;
}
.main-header-wrap{
  display: flex;
}
.main-header-left {
  display: flex;
  align-items: center;
}
.main-header-left, .main-header-right {
  width: 27%;
}
.main-header-logo {
  display: block;
  max-width: 31.25rem;
  width: 100%;
}
.main-header-logo img {
  width: 100%;
}
.main-header-middle {
  width: 46%;
  padding: 0 1rem;
}
.main-header-middle .heading-slabSerif {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-family: "Arial Rounded MT", sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
}
.main-header-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.main-header-menu li {
  margin: 0 .3125rem;
  padding: 0;
  list-style: none;
}
.main-header-menu li a {
  display: block;
  text-align: center;
  padding: .3125rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 700;
}
.main-header-menu li a:hover, .main-header-menu li a:focus {
  color: var(--primary-color);
}
.main-header-menu>ul>li {
  margin: 0;
}
.main-header-menu>ul>li:first-child>a{
  padding: 0;
}
.main-header-menu>ul>li>a>img {
  height: 3.125rem;
  width: 3.125rem;
  min-width: 3.125rem;
}
.main-header-right-middle {
  font-size: 3.125rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.main-header-contact a {
  font-size: 1.125rem;
}
.main-header-contact a img {
  min-width: 1.5625rem;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: .1875rem;
  object-fit: contain;
  opacity: 0.5;
}
.main-header-contact a:not(:last-child) {
  padding-right: .3125rem;
  margin-right: .5rem;
  border-right: 1px solid gray;
}
.main-header-search {
  position: relative;
  max-width: 23.75rem;
  width: 100%;
  margin-left: auto;
}
.main-header-search input[type='search'] {
  width: 100%;
  height: 3.125rem;
  border-radius: 3.125rem;
  padding: .3125rem 3.75rem .3125rem 1.5rem;
  border: 3px solid var(--gray250);
  font-size: 1rem;
}
.main-header-search input[type='search']::placeholder {
  color: var(--gray300);
  opacity: 1;
}
.main-header-search button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 100%;
}
.main-header-search button img {
  max-height: 100%;
}
.header-sticky {
  transform: translateY(-102%);
  background-image: linear-gradient(0deg, var(--gray250) 50%, var(--gray200) 50%);
  border-radius: 12.5rem 0 0 12.5rem;
  transition: 0.3s;
}
.header-sticky.sticky {
  transform: translateY(0);
}
.header-sticky-left {
  display: flex;
  align-items: center;
}
.header-sticky-logo {
  display: block;
  max-width: 5rem;
  min-width: 3rem;
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.header-sticky-menu-btn {
  margin-left: 1.25rem;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
.header-sticky-menu-btn img {
  max-width: 2.75rem;
  width: 100%;
}
.mobile-header {
  display: none;
}
.mobile-header-logo {
  max-width: 4.375rem;
}
.mobile-header-middle-right .heading-slabSerif.-small {
  font-size: 1.875rem;
}
.mobile-header-middle-right .main-header-right-middle {
  padding: 0;
}
.mobile-header .main-header-contact {
  padding: .625rem 0;
  border-bottom: 1px solid var(--gray350);
}
.mobile-header-middle {
  border-bottom: 1px solid var(--gray350);
}
.mobile-menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  max-width: 2.5rem;
}
.mobile-header-search {
  left: 45px;
  max-width: 28px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.mobile-header-search.active {
  max-width: 220px;
  z-index: 1;
}
.mobile-header-search input[type='search'] {
  height: 2.5rem;
  transition: 0.3s;
  appearance: none;
}
.mobile-header-search:not(.active) input[type='search'] {
  padding: 0;
}
.mobile-header-search .main-header-search {
  pointer-events: none;
}
.mobile-header-search.active .main-header-search {
  pointer-events: all;
}

/* home-banner */
.slideshow, .slide {
  height: 80vh;
}
.slide__title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxnav__item {
  height: 3.125rem;
  width: 3.125rem;
  padding: 0;
}
.banner-slider-desc {
  font-size: 2.5rem;
}











/* PROCESS WE FOLLOW
------------------------------------------------------------------------------*/
.ourProcess-wrapper .owl-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 12.5rem;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) );
}
.ourProcess-wrapper .owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  height: 2.625rem;
}
.ourProcess-box {
  position: relative;
  border: 2px solid var(--gray300);
  border-radius: var(--border-radius-xl);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5625rem;
  text-align: center;
  width: 37.5rem;
  margin: 1.25rem;
  margin-right: 2.5rem;
  margin-left: .625rem;
  transition: all 0.5s;
  z-index: 1;
}
.ourProcess-box .heading {
  display: inline-block;
  color: var(--black-color);
  font-size: 2rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  transition: all 0.5s;
}
.ourProcess-box .ourProcess-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ourProcess-box .ourProcess-items .ourProcess-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 50%;
  gap: .9375rem;
  padding: .9375rem 0;
}
.ourProcess-box .ourProcess-items .ourProcess-item .rounded-circle {
  width: 7.5rem;
  height: 7.5rem;
  cursor: pointer;
  border: 1px solid var(--gray350);
  padding: 2rem;
}
.ourProcess-big-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 18.75rem;
  width: 100%;
  opacity: 0.06;
  pointer-events: none;
  z-index: -1;
}
.ourProcess-box .ourProcess-items .ourProcess-item a {
  font-size: 1.125rem;
  max-width: 12.5rem;
  text-transform: uppercase;
}
.ourProcess-box:hover {
  border-color: var(--primary-color);
  box-shadow: none;
}
.ourProcess-box:hover .heading {
  color: var(--primary-color);
}
/* OUR PRODUCTS
------------------------------------------------------------------------------*/
.ourProducts-topbar {
  display: flex;
}
.ourProducts-topbar .ourProducts-wrapper--left {
  width: calc(100% - 15.625rem);
  padding: 0 3.75rem;
}
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .owl-item .item .btn {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: .625rem;
  position: relative;
}
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .active-item .btn {
  background: linear-gradient(#880105, var(--primary-color));
  border-color: var(--primary-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--white-color);
}
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .active-item .btn::after {
  background-color: var(--primary-color);
  content: "";
  position: absolute;
  bottom: -0.6875rem;
  left: -1px;
  width: calc(100% + 2px);
  height: .625rem;
}
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .owl-nav .owl-prev,
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .owl-nav .owl-next {
  top: 1.25rem;
}
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .owl-nav .owl-prev {
  right: -3.75rem;
}
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .owl-nav .owl-next {
  left: -3.75rem;
}
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .owl-nav .owl-prev img,
.ourProducts-topbar .ourProducts-wrapper--left .owl-carousel .owl-nav .owl-next img {
  width: 2.625rem;
}
.ourProducts-topbar .ourProducts-wrapper--right {
  width: 15.625rem;
}
.ourProducts-content .owl-item .item > .row {
  padding-top: .625rem;
}
.ourProducts-content .owl-item .item > .row {
  background: var(--primary-color);
  border-radius: var(--border-radius-xl);
  border-bottom-left-radius: 2.625rem;
  border-bottom-right-radius: 2.625rem;
}
.ourProducts-content .owl-item.active .item > .row > .left {
  background-color: var(--white-color);
  border-top-left-radius: 2.75rem;
  border-bottom-left-radius: 2.75rem;
}
.ourProducts-content .owl-item.active .item > .row > .right {
  background-color: var(--white-color);
  border-top-right-radius: 2.75rem;
  border-bottom-right-radius: 2.75rem;
}
.ourProducts-content .box {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:1px solid var(--gray300);
  border-radius: var(--border-radius-xl);
  height: 37.5rem;
  padding: .625rem;
}
.ourProducts-content .owl-item.active .item > .row > .right .box {
  padding: 1.25rem;
}
.ourProducts-content .box .product-img {
  border-radius: var(--border-radius-xl);
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.ourProducts-content .box .product-details p {
  font-size: 1rem;
}
.ourProducts-bottombar .pagination {
  display: flex;
  gap: 1.25rem;
}
.ourProducts-bottombar .pagination .page-item {
  padding-bottom: 0;
}
.ourProducts-bottombar .pagination .page-item .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);
  border-radius: var(--border-radius-md);
  font-size: 1.125rem;
  height: 2.625rem;
  width: 2.625rem;
}
.ourProducts-bottombar .pagination .page-item:first-child .page-link,
.ourProducts-bottombar .pagination .page-item:last-child .page-link {
  border: 0 none;
  padding: 0;
}
.ourProducts-bottombar .pagination .page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color);
}
.ourProducts-bottombar .pagination .page-item .page-link img {
  width: 2.625rem;
}
/* ABOUT GIANT INFLATBLES
------------------------------------------------------------------------------*/
.card.card-simple {
  border-color: var(--gray300);
  border-radius: 2.25rem;
  padding: 1.75rem;
}
.card.card-simple p {
  color: #323232;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
/* OUR CLIENTS
------------------------------------------------------------------------------*/
.ourClients-wrapper {
  padding: 0 6.25rem;
}
.ourClients-wrapper .owl-carousel .ourClient-box {
  background-color: var(--white-color);
  border-radius: 1.875rem;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .3);
  padding: 3.125rem;
  margin: .9375rem 1.25rem;
}
.ourClients-wrapper .owl-carousel .owl-nav .owl-next {
  left: -3.75rem;
}
.ourClients-wrapper .owl-carousel .owl-nav .owl-prev {
  right: -3.75rem;
}
/* OUR BLOGS
------------------------------------------------------------------------------*/
.ourBlogs-wrapper {
  padding: 0 3.125rem;
}
.ourBlogs-wrapper .owl-carousel .owl-nav .owl-next {
  left: -3.125rem;
}
.ourBlogs-wrapper .owl-carousel .owl-nav .owl-prev {
  right: -3.125rem;
}
/* OUR BLOGS
------------------------------------------------------------------------------*/
.ourCategories-wrapper {
  padding: 0 3.125rem;
}
.ourCategories-wrapper .owl-carousel .ourCategories-box {
  background-color: var(--white-color);
  border-radius: 1.875rem;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .3);
  margin: .9375rem 1.25rem;
}
.ourCategories-wrapper .owl-carousel .owl-nav .owl-next {
  left: -3.125rem;
}
.ourCategories-wrapper .owl-carousel .owl-nav .owl-prev {
  right: -3.125rem;
}
/* OUR VENTURES
------------------------------------------------------------------------------*/
.ourVentures-wrapper .owl-carousel .owl-nav .owl-next {
  left: -3.125rem;
}
.ourVentures-wrapper .owl-carousel .owl-nav .owl-prev {
  right: -3.125rem;
}